# 需要以下的变量改为自己的；同时将.env.example改为.env

# openai
OPENAI_API_KEY=sk-123

# azure
AZURE_OPENAI_API_KEY=123
OPENAI_API_VERSION="2024-02-15-preview"
AZURE_OPENAI_ENDPOINT="https://kdtest.openai.azure.com/"
OPENAI_DEPLOYMENT_NAME="gpt-4"


#语雀
YUQUE_AUTH_TOKEN="a123"
YUQUE_NAMESPACE="kldah1"  # 语雀团队/空间路径
YUQUE_BASE_URL="https://www.yuque.com/api/v2"
YUQUE_REQUEST_AGENT="xxx"
YUQUE_ACCESS_BASE_URL = "https://www.yuque.com"

#mysql
DB_USER="root"
DB_PASSWORD="123456"
DB_HOST="localhost"
DB_PORT="3306"
DB_DB="kb"
DB_CHARSET="utf8"

